In [9]:
import os, sys
import torch

dir2 = os.path.abspath('')
dir1 = os.path.dirname(dir2)
dir0 = os.path.dirname(dir1)  # One level above dir1


if dir1 not in sys.path: sys.path.append(dir0)

from src.utils import ExperimentUtils

In [10]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_depth_1.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,209.62 ± 1.42,0.00e+00 ± 0.00e+00,6.04e-04 ± 1.73e-05,92.39 ± 4.87,-1.43e-03 ± 2.63e-01
1,embedding_num_cells = 32,212.20 ± 1.20,0.00e+00 ± 0.00e+00,6.11e-04 ± 2.35e-05,91.41 ± 3.99,-0.15 ± 0.18
2,embedding_num_cells = 48,212.32 ± 0.92,0.00e+00 ± 0.00e+00,5.90e-04 ± 1.08e-05,93.38 ± 2.93,-0.08 ± 0.13
3,embedding_num_cells = 64,214.19 ± 1.01,0.00e+00 ± 0.00e+00,5.76e-04 ± 1.11e-05,91.79 ± 3.16,-0.11 ± 0.17

In [11]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_depth_2.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,213.86 ± 1.52,0.00e+00 ± 0.00e+00,6.58e-04 ± 9.18e-05,93.15 ± 2.90,0.04 ± 0.17
1,embedding_num_cells = 32,215.96 ± 0.62,0.00e+00 ± 0.00e+00,5.84e-04 ± 2.19e-05,93.01 ± 2.78,0.16 ± 0.16
2,embedding_num_cells = 48,216.84 ± 0.61,0.00e+00 ± 0.00e+00,6.31e-04 ± 9.00e-05,94.96 ± 2.26,-0.04 ± 0.12
3,embedding_num_cells = 64,217.73 ± 0.58,0.00e+00 ± 0.00e+00,5.81e-04 ± 3.61e-05,96.67 ± 5.83,-2.39e-03 ± 2.28e-01

In [12]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_local_depth_1.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,223.71 ± 0.99,0.00e+00 ± 0.00e+00,5.86e-04 ± 2.24e-05,96.06 ± 4.15,-0.48 ± 0.15
1,embedding_num_cells = 32,227.97 ± 0.46,0.00e+00 ± 0.00e+00,5.91e-04 ± 2.26e-05,95.21 ± 5.42,-0.28 ± 0.13
2,embedding_num_cells = 48,231.21 ± 1.09,0.00e+00 ± 0.00e+00,5.84e-04 ± 1.44e-05,97.00 ± 3.34,-0.46 ± 0.17
3,embedding_num_cells = 64,231.59 ± 1.14,0.00e+00 ± 0.00e+00,6.01e-04 ± 2.23e-05,90.60 ± 3.19,-0.13 ± 0.26

In [13]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_local_depth_2.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,228.61 ± 0.98,0.00e+00 ± 0.00e+00,6.11e-04 ± 2.99e-05,101.30 ± 3.07,-0.47 ± 0.20
1,embedding_num_cells = 32,235.16 ± 0.79,0.00e+00 ± 0.00e+00,5.86e-04 ± 1.38e-05,92.96 ± 2.64,-0.20 ± 0.14
2,embedding_num_cells = 48,241.81 ± 2.02,0.00e+00 ± 0.00e+00,5.82e-04 ± 1.94e-05,93.65 ± 3.34,-0.17 ± 0.13
3,embedding_num_cells = 64,244.74 ± 2.11,0.00e+00 ± 0.00e+00,5.97e-04 ± 1.88e-05,90.17 ± 4.18,0.03 ± 0.18

In [17]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_global_depth_1.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,205.70 ± 6.03,0.00e+00 ± 0.00e+00,5.88e-04 ± 1.45e-05,95.84 ± 3.52,-0.40 ± 0.16
1,embedding_num_cells = 32,203.00 ± 1.82,0.00e+00 ± 0.00e+00,5.73e-04 ± 1.43e-05,99.77 ± 2.18,-0.51 ± 0.20
2,embedding_num_cells = 48,206.66 ± 1.17,0.00e+00 ± 0.00e+00,5.82e-04 ± 2.08e-05,96.26 ± 4.69,-0.34 ± 0.25
3,embedding_num_cells = 64,212.95 ± 3.78,0.00e+00 ± 0.00e+00,6.17e-04 ± 5.37e-05,95.42 ± 2.42,-0.39 ± 0.17

In [16]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/mlp_global_depth_2.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,embedding_num_cells = 16,208.08 ± 1.29,0.00e+00 ± 0.00e+00,5.90e-04 ± 1.45e-05,95.75 ± 3.82,-0.24 ± 0.14
1,embedding_num_cells = 32,210.36 ± 0.52,0.00e+00 ± 0.00e+00,5.94e-04 ± 1.85e-05,95.87 ± 3.46,-0.28 ± 0.18
2,embedding_num_cells = 48,211.95 ± 1.52,0.00e+00 ± 0.00e+00,5.86e-04 ± 1.76e-05,95.71 ± 3.14,-0.33 ± 0.18
3,embedding_num_cells = 64,215.73 ± 0.43,0.00e+00 ± 0.00e+00,5.90e-04 ± 1.23e-05,95.72 ± 2.23,-0.28 ± 0.14

In [8]:
suite_utils = ExperimentUtils(path='/src/experiments_ma/2_mlp_approaches/saved_experiments/none_scenario.csv')
suite_utils.create_table_with_confidence()

,Experiment,training_time,training_memory_usage,inference_time,mean_rewards,loss
0,mlp,181.31 ± 5.30,0.00e+00 ± 0.00e+00,5.92e-04 ± 6.66e-05,93.80 ± 5.28,-0.20 ± 0.20
1,mlp_local,193.36 ± 0.66,0.00e+00 ± 0.00e+00,5.57e-04 ± 1.56e-05,92.84 ± 2.10,-0.46 ± 0.13
2,mlp_global,189.24 ± 0.64,0.00e+00 ± 0.00e+00,5.57e-04 ± 1.40e-05,99.45 ± 3.65,-0.54 ± 0.25